%description-12 {
  font-size: 1.2rem;

  @include media('<phone') {
    font-size: 2.68rem;
  }
}

%description-14 {
  font-size: 1.4rem;

  @include media('<phone') {
    font-size: 2.68rem;
  }
}

%description-16 {
  font-size: 1.6rem;

  @include media('<phone') {
    font-size: 2.68rem;
  }
}

%description-17 {
  font-size: 1.7rem;

  @include media('<phone') {
    font-size: 2.68rem;
  }
}

%description-18 {
  font-size: 1.8rem;

  @include media('<phone') {
    font-size: 2.68rem;
  }
}

%description-20 {
  font-size: 2rem;

  @include media('<phone') {
    font-size: 2.68rem;
  }
}

%description-21 {
  font-size: 2.1rem;

  @include media('<phone') {
    font-size: 2.68rem;
  }
}

%description-22 {
  font-size: 2.2rem;

  @include media('<phone') {
    font-size: 2.68rem;
  }
}

%description-24 {
  font-size: 2.4rem;

  @include media('<phone') {
    font-size: 3.2rem;
  }
}

%description-26 {
  font-size: 2.68rem;

  @include media('<phone') {
    font-size: 2.68rem;
  }
}

%description-30-5 {
  font-size: 3.05rem;

  @include media('<phone') {
    font-size: 2.68rem;
  }
}

%description-32 {
  font-size: 3.2rem;
}
