@use "../../node_modules/include-media/dist/include-media";
@use "../utils/variables";

$desktop : 1280;
$tablet : 1024;
$phone : 768;
$vw : 100vw;

%title-large {
  font-family: variables.$font-anybody-condensed, sans-serif;
  font-size: calc(200 * $vw /$desktop);
  font-weight: 700;
  letter-spacing: -0.2rem;
  line-height: 100%;

  @include include-media.media('<=tablet') {
    font-size: calc(200 * $vw /$tablet);
  }

  @include include-media.media('<=phone') {
    font-size: calc(200 * $vw /$phone);
    line-height: 90%;
  }
}

%title-small {
  font-family: variables.$font-anybody-condensed, sans-serif;
  font-size: calc(13 * $vw /$desktop);
  font-weight: 400;
  letter-spacing: 0.025rem;
  line-height: 140%;

  @include include-media.media('<=phone') {
    font-size: calc(35 * $vw /$phone);
  }
}
