@use "../../node_modules/include-media/dist/include-media";
@use "../shared/titles";
@use "../shared/descriptions";
@use "../shared/links";
@use "../utils/variables";

section {
  padding: 10rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;

  @include include-media.media('<=phone') {
    align-items: flex-start
  }

}

.title {
  @extend %title-large;
  
  text-transform: uppercase;
}

.description {
  max-width: 60%;
  text-align: center;

  @include include-media.media('<=phone') {
    max-width: 100%;
    text-align: start;
  }
}

.list {
  display: flex;
  gap: 1rem;
}

a {
  @extend %title-small;
  @extend %link--hidden;

  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

button {
  @extend %title-small;

  padding: 0.5rem 2rem 0.25rem;
  background: variables.$color-black;
  color: variables.$color-white;
  cursor: pointer;
  text-transform: uppercase;
}

[data-animation="title"] {
  display: inline-block;
  overflow: hidden;

  *:not(svg):not(path):not(span) {
    visibility: hidden;
    opacity: 0;
  }
}