@use "../shared/titles";

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 2rem 5rem;
	font-weight: 400;
}

.logo {
	@extend %title-small;
	text-transform: uppercase;
}

.navigation {
	@extend %title-small;

	display: flex;
	flex-direction: row;
	list-style: none;
	justify-content: space-between;
	gap: 2rem;
	margin: 0;
	text-transform: uppercase;
}