@use "../../node_modules/include-media/dist/include-media";
@use "../utils/variables";
@use "../utils/functions";
@use "../shared/descriptions";

*,
*::after,
*::before {
  box-sizing: border-box;
  user-select: none
}

html {
  $vw: 100vw;
  font-size: calc($vw / 1280px * 10px);
  line-height: 100%;

  @include include-media.media('<=tablet') {
    font-size: calc($vw / 1024px * 10px);
  }

  @include include-media.media('<=phone') {
    font-size: calc($vw / 768px * 10px);
  }
}

body {
  @extend %description-medium;
  background: variables.$color-white;
  color: variables.$color-black;
  overscroll-behavior: none;
}
