@font-face {
    font-family: 'Neue Haas Unica';
    src: url('../../fonts/NeueHaasUnica-Light.woff2') format('woff2'),
        url('../../fonts/NeueHaasUnica-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Haas Unica';
    src: url('../../fonts/NeueHaasUnica-Regular.woff2') format('woff2'),
        url('../../fonts/NeueHaasUnica-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Druk Cyr';
    src: url('../../fonts/DrukCyr-Medium.woff2') format('woff2'),
        url('../../fonts/DrukCyr-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

